<div class="form-container">

    <div class="form-header">
      <h4>Login into your account</h4>
    </div>

    <form id="login-form" class="form-horizontal user-form" name="validForm" novalidate>
      <div class="form-error" ng-class="{'alert alert-error': errors}" ng-bind-html-unsafe="errors" ></div>
      <!-- Email control group  -->
      <div class="control-group" ng-class="{error: error.Emailj}">
     
        <div class="controls">

          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope-alt icon-large"></i></span>
            <input type="text" ng-model="credentials.email" name="email" id="inputEmail" placeholder="Email">
          </div>

          <span class="valid-error"></span>
       
        </div> 

      </div>

      <!-- Password control group -->
      <div class="control-group" ng-class="{error: error.Passwordl}">

        <div class="controls">

          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock icon-large"></i></span>
            <input type="password" name="password" ng-model="credentials.password" placeholder="Password">
          </div>

          <span class="valid-error"></span>

        </div>

      </div>

      <!-- Remember me control group -->
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>

      <!-- Submit container -->
      <div class="submit-container"> 
        <button ng-show="isPending" type="submit" class=""><i class="icon-spinner icon-spin icon-white"></i>Sign In</button> 
        <button ng-hide="isPending" type="submit" class=""><i class="icon-ok-sign icon-white"></i>Sign in</button>

        <a href="#/forgot">Forgot password?</a>

      </div>

    </form> <!-- login form -->

</div>